<% layout('./layouts/boilerplate') %>
<hr>
<style>
    .form-label {
        font-weight: bold;
        font-size: 20px;
        color:rgb(255, 255, 255);
    }

    h1 {
        font-weight: bold;
    }
</style>
<div class="row">
    <h1 class="text-center">Edit Details</h1>
    <div class="col-12 col-md-6 offset-md-3">
        <form action="/editprofile?_method=PUT" method="POST" class="validated-form" >
            <div class="mb-4">
                <label class="form-label" for="title">Username</label>
                <input class="form-control" type="text" id="title" name="user[username]" value="<%= currentUser.username %>">
                <div class="valid-feedback">
                    Valid!
                </div>
                <div class="mb-4">
                <!-- <label class="form-label" for="image">Profile Picture : </label>
                <input type="file" class="form-control" id="image" name="image"> -->
            </div>
            </div>
            <div class="mb-4">
                <button class="btn btn-success">Update</button>
            </div>
        </form>
    </div>
</div>